{% extends 'base.html' %}

{% block title %}Agregar Cliente{% endblock %}
{% block header %}Página de Agregar Cliente{% endblock %}

{% block content %}
<div class="container mt-5">
  
    <h2 class="mb-4">Agregar Cliente</h2>

    <form method="post" action="{% url 'add_cliente' %}" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    
    <button class="btn btn-secondary"><a href="{% url 'show_clientes' %}" class="text-white">Volver a la lista de clientes</a></button>
</div>
{% endblock %}
