<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crear Factura</title>

    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Crear Factura para {{ cliente.Nombre }} {{ cliente.Apellido }}</h1>

    <form method="post" action="{% url 'crear_factura' cliente.id %}" class="mb-4" id="factura-form">
        {% csrf_token %}
        
        {{ formset.management_form }}
        <div class="formsets">
            {% for form in formset %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>

        <button type="button" class="btn btn-success" id="add-form">Agregar Producto</button>
        <button type="submit" class="btn btn-primary">Guardar Factura</button>
    </form>

    <button class="btn btn-secondary"><a href="{% url 'show_clientes' %}" class="text-white">Volver a la lista de clientes</a></button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#add-form').click(function () {
            // Clone the last form and append it to the formsets div
            var totalForms = parseInt($('#id_form-TOTAL_FORMS').val());
            var newForm = $('.formsets .form-group:first').clone();
            
            // Update the form prefixes
            newForm.find(':input').each(function () {
                var name = $(this).attr('name').replace('-' + (totalForms - 1) + '-', '-' + totalForms + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            
            // Update the management form
            $('#id_form-TOTAL_FORMS').val(totalForms + 1);
            
            // Append the new form to the formsets div
            $('.formsets').append(newForm);
        });
    });
</script>
</body>
</html>
