
{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Facturas de {{ cliente.Nombre }} {{ cliente.Apellido }}</h1>

        {% if facturas %}
            <div class="list-group">
                {% for factura in facturas %}
                    <div class="list-group-item">
                        <h6 class="mb-1">Fecha: {{ factura.fecha }}</h6>
                        <p class="mb-1">Producto: {{ factura.producto }}</p>
                        <p class="mb-1">Cantidad: {{ factura.cantidad }}</p>
                        <p class="mb-1">Precio: {{ factura.precio }}</p>
                        
                        <!-- Botones de editar, eliminar y ver factura -->
                        <a href="{% url 'editar_factura' factura.id %}" class="btn btn-info btn-sm">Editar</a>
                        <a href="{% url 'eliminar_factura' factura.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url 'ver_factura' factura.id %}" class="btn btn-primary btn-sm">Ver Factura</a>
                    </div>
                {% endfor %}

                <div class="list-group-item">
                    <h6 class="mb-1">Total Cost:</h6>
                    <p class="mb-1">Total: {{ facturas|calculate_total_cost }}</p>
                </div>
            </div>
        {% else %}
            <p class="mt-3">No hay facturas registradas para este cliente.</p>
        {% endif %}

        <button class="btn btn-secondary mt-3"><a href="{% url 'show_clientes' %}" class="text-white">Volver a la lista de clientes</a></button>
    </div>
{% endblock %}
