<!-- mostrar_facturas.html -->
{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Facturas de {{ cliente.Nombre }} {{ cliente.Apellido }}</h1>

        {% if facturas %}
            <div class="list-group">
                {% for factura in facturas %}
                    <div class="list-group-item">
                        <h6 class="mb-1">Fecha: {{ factura.fecha }}</h6>
                        <p class="mb-1">Producto: {{ factura.producto }}</p>
                        <p class="mb-1">Cantidad: {{ factura.cantidad }}</p>
                        <p class="mb-1">Precio: {{ factura.precio }}</p>
                    </div>
                {% endfor %}

                <div class="list-group-item">
                    <h6 class="mb-1">Total Cost:</h6>
                    <p class="mb-1">Total: {{ facturas|calculate_total_cost }}</p>
                </div>
            </div>
        {% else %}
            <p class="mt-3">No hay facturas registradas para este cliente.</p>
        {% endif %}

        <button class="btn btn-secondary mt-3"><a href="{% url 'show_clientes' %}" class="text-white">Volver a la lista de clientes</a></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
